<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" >
<head>
<meta charset="ISO-8859-1">
<title>All items</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- CSS For form-->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <header th:replace="fragments/HeaderForUser.html"></header>
    <link rel="stylesheet" th:href="@{/css/Consumable.css}">
</head>
<body>
<br/>
<br/>

<div class="container my-4">
    <div class="d-flex justified-content-center">
<br/>
        <h3>All Consumables</h3>
<br/>
        <div>

            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="#" th:href="@{/neworder}">New order </a>
                </li>
                <li>
                    <a href="#" th:href="@{/all_consumables}">All items </a>
                </li>

            </ul>
        </div>
<br/>
        <table class="table table-bordered table-hover table-striped">
            <thead class="thead-dark" align="center">
                <tr>
                    <th class="text-uppercase " scope="col">ID</th>
                    <th class="text-uppercase " scope="col">Name</th>
                    <th class="text-uppercase " scope="col">Description</th>
                    <th class="text-uppercase " scope="col">current stock</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item: ${consumables}">
                    <td th:text="${item.id}" align="center"></td>
                    <td th:text="${item.name}" align="center"></td>
                    <td th:text="${item.description}" align="center"></td>
                    <td th:text="${item.stock}" align="center"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
  </body>
<footer th:replace="fragments/Footer.html"></footer>

</html>